body{
    background-color: var(--primary-bg-color);
}

#mainImg {
    text-align: left;
    border-radius: 12px;
}

#mainImg img {
    width: 100%;
    max-height: 30vh;
    object-fit: cover;
    border-radius: 12px;
}

.contentImages {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-top: 10px;
}

.contentImages img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.2s;
}

.contentImages img:hover {
    transform: scale(1.1);
}

/* Grid System  */

#fullscreen_main{
    height: auto;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 1vw;
    margin: 1vw;
}

#fullscreen_main_left{
    height: auto;
    margin: 1vw;
    padding-right: 3vw;
    border-right: solid black 1px;
}

#fullscreen_main_right{
    height: auto;
    margin: 1vw;
    padding-left: 3vw;
}

/* Kommentare */


#comments_section {
    max-width: 600px;
    margin-top: 1vw;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#comments {
    margin-bottom: 1vw;
}

.comment {
    padding: 10px;
    margin-bottom: 10px;
    background: #f9f9f9;
    border-left: 5px solid var(--secondary-color);
    border-radius: 5px;
}

.comment strong {
    color: #333;
}

#comment_form {
    display: flex;
    gap: 1vw;
    
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

#submit {
    padding: 0.3vw;
    background: var(--accent-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: auto;
}

#submit:hover {
    background: var(--accent-color);
}

/* Infos zum Ort */

#category_spot{
    padding: 0 0.8vw;
    background-color: rgb(70, 70, 255);
    border-radius: 12px 0 0 12px;
    color: white;

    display: flex;
    align-items: center;
    gap: 0.3vw;
}

#category_spot svg{
    width: 1.5vw;
    height: 1.5vw;
    margin-right: 0.2vw;
}

.flex_box{
    display: flex;
    gap: 5vw;
    align-items: center;
}

#description_spot{
    margin-top: 2vw;
    max-width: 15vw;
}

.info_box{
    
}