/* **********************************+ General ********************************************** */
body{
    margin: 0;
    padding: 0;
   font-family: var(--font-family);
   scroll-behavior: smooth;
   overflow-y: hidden;
   background-color: var(--primary-bg-color);
}

h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}


/* Drop Down Settings usw. */

#dropDown_menu {
  display: none;
  position: absolute;
  right: 10px;
  top: 50px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
  z-index: 12;
}

#dropDown_menu.show {
  display: block;
}

#dropDown_menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

#dropDown_menu a:hover {
  background-color: #f0f0f0;
}


/* *************************************** Map ******************************* */

#map{
    width: 100%;
    height: 100vh;
    z-index: 5;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  @keyframes border-pulse {
    0% {
      box-shadow: 0 0 0 0 rgb(255, 0, 0);
    }
  
    70% {
      box-shadow: 0 0 0 20px rgba(255, 0, 0, 0);
    }
  
    100% {
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
  }
  
  .animation {
    border-radius: 50%;
    animation: border-pulse 1.5s infinite;
  }
  
  .animation svg {
    animation: rotation 2s infinite linear;
    fill: red;
  }

/* ************************************* Sidebar ********************************************** */

#homepage_karte_sidebar {
    position: fixed;
    top: 50%;
    left: 1vw;
    width: 20vw;
    min-width: 300px;
    height: 50vh;
    background-color: var(--bg-color-sidebar);
    border-radius: var(--border-radius-m);
    padding: var(--padding-m);
    z-index: 10;
    transform: translateY(-50%);

    box-shadow: 2px 2px 19px -6px rgba(0,0,0,0.74);
}

#beschreibung {
  font-size: smaller;  
}

#img_big {
  border-radius: 10px;
}

#img_großButton {
  transition: all ease-in-out 200ms;
}

#img_großButton:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

#img_saveButton {
  transition: all ease-in-out 200ms;
}

#img_saveButton:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

#img_point {
  border-radius: 10px;
  transition: all ease-in-out 200ms;
}

#img_point:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

#button_comments {
  background-color: var(--bg-color-greenButton);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}
#button_comments p {
  margin: 0;
}

#button_comments_link {
  text-decoration: none;
  color: black;
}

#parent_grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* ***************************************** Filter ************************************ */
#homepage_section_filter{
    position: absolute;
    z-index: 11;
    display: flex;
    gap: 2vw;
    top: 10vh;
    left: 46%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    max-width: 90vw;
    overflow-x: scroll; /* Enable horizontal scrolling */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    white-space: nowrap;
    padding: 1vw;
}

#homepage_section_filter::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

#homepage_filters{
    display: flex;
    gap: 1vw;
    flex-wrap: nowrap;
    justify-content: flex-start;
    
}

.homepage_filter{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    min-width: 70px;
    /* height: 1.5vh; */
    /* padding: 0.2vw 1.2vw; */
    padding: 0.3vw 1.2vw;
    margin: 0;
    background-color: var(--bg-color-white);
    border-radius: var(--border-radius-xl);
    box-shadow: 2px 2px 19px -6px rgba(0,0,0,0.74);

    transition: all ease-in-out 200ms;
}

.homepage_filter:hover{
    cursor: pointer;
    transform: translateY(-3px);
}

.homepage_filter img{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    width: 1.5vw;
}

#homepage_filter_search input{
    padding: 0.7vw 1.2vw;
    border-radius: var(--border-radius-m);
    background-color: var(--bg-color-white);
    border: none;
    box-shadow: 2px 2px 19px -6px rgba(0,0,0,0.74);
    height: 1.5vh;
}

#homepage_filter_search input:focus{
    outline: none;
}

.homepage_filter h2{
    font-size: var(--font-size-xs);
    color: var(--black-color);
}


