/* **********************************+ General ********************************************** */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  scroll-behavior: smooth;
  overflow-y: hidden;
  background-color: var(--primary-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

/* *************************************** Profile ************************************************** */

#profile_info_backButton {
  display: flex;
  margin: 1.3vw 92vw 0 1.3vw;

  transition: all ease-in-out 200ms;
}

#profile_info_backButton:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

#profile_info_backButton img {
  width: 40px;
  transform: rotate(90deg);
}
#profile_info_backButton a {
  text-decoration: none;
  color: var(--black-color);
}

/*  */
#profilPic {
  border-radius: 50%;
}

#profile_grandparent {
  display: grid;
  grid-template-columns: 20% 80%;
}

#profile_infos {
  margin-top: 3%;
  display: grid;
  grid-template-columns: 30% 70%;
}

#profile_info_child {
  margin-left: -18%;
  margin-top: 4%;
}

#info_mini {
  color: var(--grey-font-color);
  font-size: 12px;
}

hr {
  width: 90%;
  border: 0.5px solid rgb(215, 209, 209);
  margin: 10px 0;
  display: block;
  margin-left: 5%;
  margin-right: 5%;
}

#erstellt_parent {
  display: grid;
  grid-template-columns: 19% 4.5% 1% 5.5% 70%;
  margin-bottom: -20px;
}

#switches_erstellt {
  text-align: end;
  margin-right: 9%;
}

.switches {
  cursor: pointer;
  padding: 5px;
  display: inline-block;
  position: relative;
}

p.active {
  display: inline-block;
}

p.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -7px;
  left: 0;
}

#bilder {
  margin: 3%;
  position: relative;
  bottom: 30%;
  text-align: center;
  margin-right: 3%;
  margin-top: 2%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  overflow-y: scroll;
  max-height: 500px;
}

.images {
  margin: 10%;
  width: 70%;
  height: 90%;
  border-radius: 20%;
}

.images_fav {
  margin: 10%;
  width: 70%;
  height: 90%;
  border-radius: 20%;
}

.image-wrapper {
  position: relative;
  display: inline-block; /* passt sich der Bildgröße an */
}

.image-wrapper .overlay {
  position: absolute;
  bottom: -2%;
  width: 70%;
  height: 30%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* halbtransparentes Overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15%;
  border-radius: 65px;
  transition: all 0.3s ease; /* Sanfter Übergang für den Hover-Effekt */
}

.image-wrapper .overlay::before {
  content: ""; /* Standardmäßig kein Inhalt */
}

.image-wrapper .overlay:hover {
  background-color: rgba(255, 255, 255, 0.547); /* Weißer Hintergrund beim Hovern */
  color: black; /* Schwarzer Text beim Hovern */
}

.image-wrapper .overlay:hover .header,
.image-wrapper .overlay:hover .like {
  display: none; /* Versteckt Header und Like beim Hovern */
}

.header {
  margin-left: 0%;
}

.like {
  margin-left: 45%;
}


.image-wrapper .overlay .edit-link {
  display: none;
  font-weight: bold;
}

.image-wrapper .overlay:hover .header,
.image-wrapper .overlay:hover .like {
  display: none;
}

.image-wrapper .overlay:hover .edit-link {
  display: block;
}

.edit-link {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.image-wrapper .overlay:hover .edit-link {
  color: black;
}

.edit-link:hover {
  text-decoration: underline;
}