body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#homepage_header{
    height: var(--height_header);
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--header_backGroundColor);
    padding: 0 1vw 0 1vw;
}

#homepage_header_spotlas{
    text-align: left;
}

#homepage_header_ImageItems{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1vw;
}